
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=REPLACE
API_TOKEN_SALT=REPLACE
ADMIN_JWT_SECRET=REPLACE
TRANSFER_TOKEN_SALT=REPLACE
ENCRYPTION_KEY=REPLACE

# Database
DATABASE_URL=REPLACE
DATABASE_SSL=false
DATABASE_FILENAME=REPLACE
JWT_SECRET=REPLACE

# Resend
RESEND_API_KEY=REPLACE
RESEND_EMAIL_FROM=REPLACE
RESEND_EMAIL_REPLY=REPLACE